body{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: #14213d;
    color: #ffffff;
}

h1{
    font-weight: 300;

    padding-bottom: 1em;

    border-bottom: solid #fca311 1px;
}
h2{
    font-weight: 100;
    color: #e5e5e5;
}
